<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Task</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>    
    <header>
        <nav> 
            <ul>
                <a href="index.html"><li>Manage Projects</li></a>
                <a href="mangaetask.html"><li>Manage Tasks</li></a>
                <a href="manageemp.html"><li>Employee Management</li></a>
                <a href="dept.html"><li>Departments</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-4">
            <h1>Department Details</h1>
            <div class="col-4">
                <div class="col-4-1">
                    <p>Name</p>
                </div>
                <div class="col-4-2">
                        <input type="text" name="dept-name" id="dept-name" class="bd input-4">
                </div>
            </div>        
            <div class="col-4">
                <input type="submit" value="Add Department" class="input bg-3 padd">
            </div>
        
        </div>
    </main>
</body>
</html>